{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <i class="material-icons" style="float:left; margin-top: 4px;">people_outline</i>
        <span class="sf-toolbar-value">
            {{ collector.labelToolbarUsers }}
        </span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            {% if collector %}
                <form method="POST" action="#">
                    <label for="impersonate-select-user">{{ collector.labelSelectUsers }}</label>
                    <select name="impersonate-select-user"
                            id="impersonate-select-user"
                            style="
                                display: inline;
                                height: 25px;
                            "
                    >
                        <option selected>Select user</option>
                        <optgroup label="Options">
                            <option value="_exit">Exit impersonate</option>
                        </optgroup>
                        <optgroup label="User list">
                            {% for user in collector.users %}
                                <option value="{{ user.id }}">{{ user.login }}</option>
                            {% else %}
                                <option>No user found</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                    <input type="button"
                           value="Switch"
                           id="impersonate-button"
                           style="
                                display: block;
                                padding: 2.5px;
                                margin-top: 5px;
                            "
                    >
                </form>
                <script>
                    let user = document.getElementById('impersonate-select-user');
                    let button = document.getElementById('impersonate-button');
                    let parsedHref = location.href.split('?')[0];

                    button.onclick = function () {
                        location.href = parsedHref + '?_switch_user=' + user.value;
                    };
                </script>
            {% else %}
                <span>No user found</span>
            {% endif %}
        </div>
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': false }) }}
{% endblock %}