<nav class="homepage-navbar">
    <div class="nav-wrapper">
        <a href="{{ path('app_default_index') }}" class="brand-logo">
            <div class="navbar-logo_makapi">
                <div class="font-mak">
                    Mak
                </div>
                <img src="{{ asset('images/favicons/favicon.png') }}">
                <div class="font-api">
                    API
                </div>
            </div>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down navbar-list">
            <li {% if app.request.get('_route') == 'app_default_index' %} class="active"{% endif %}><a href="{{ path('app_default_index') }}">Home</a></li>
            <li {% if app.request.get('_route') == 'app_generator_form_index' %}><a href="#">Make your API</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">About us</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="navbar-list_signin"><a href="{{ path('app_user_show', {'id': app.user.id}) }}">{{ app.user.login }}</a></li>
                <li class="navbar-list_signup"><a class="waves-effect waves-light btn makapi-button corail small" href="{{ path('app_logout') }}">Logout</a></li>
            {% else %}
                <li class="navbar-list_signin"><a href="{{ path('app_login') }}">Sign in</a></li>
                <li class="navbar-list_signup"><a class="waves-effect waves-light btn makapi-button corail small" href="{{ path('app_user_new') }}">Sign up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="#">Home</a></li>
    <li><a href="#">Make your API</a></li>
    <li><a href="#">Documentation</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Sign in</a></li>
    <li><a href="{{ path('app_user_new') }}">Sign up</a></li>
</ul>