{% trans_default_domain 'app' %}
{% extends 'pagelayout.html.twig' %}
{% block title %}
    Admin - Index CronTasks
{% endblock %}

{% block body %}
    <main class="submain container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#activated-tasks">Activated tasks</a></li>
                    <li class="tab col s3 disabled"><a href="#tasks-lists">Tasks list</a></li>
                    <li class="tab col s3"><a href="#add-task">Add task</a></li>
                    <li class="tab col s3 disabled"><a href="#logs">Logs</a></li>
                </ul>
            </div>
            <div id="activated-tasks" class="col s12">
                <div class="white">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Command</th>
                                <th>Last activate</th>
                                <th>Command result</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in activatedTasks %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.command }}</td>
                                    <td>{{ task.lastExecution ? task.lastExecution|date('Y-m-d H:i:s T') : '' }}</td>
                                    <td>{{ task.lastReturnCode ? task.lastReturnCode : 'No result'}}</td>
                                    <td>
                                        <a href="{{ path('app_crontasks_delete', {'id':task.id}) }}" class="btn makapi-button small red">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <td colspan="5">
                                    <h2>No tasks founded</h2>
                                    <p>
                                        Go to add your first task or activate one task.
                                    </p>
                                </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tasks-lists" class="col s12">tasks-lists</div>
            <div id="add-task" class="col s12">
                <div id="makapi-task-form" class="white" style="
                    padding: 15px;
                ">
                    <div style="
                        width: 70%;
                        margin: auto;
                    ">
                        {{ render(controller(
                            'App\\Controller\\Back\\CronTasksController::add'
                        )) }}
                    </div>
                </div>
            </div>
            <div id="logs" class="col s12">Log</div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        let el = document.querySelectorAll('.tabs');
        let instance = M.Tabs.init(el);
    </script>
{% endblock %}