{% trans_default_domain 'app' %}
{% extends 'back/admin_base.html.twig' %}
{% block title %}
    Admin - Index CronTasks
{% endblock %}

{% block content_main %}
        <ul class="tabs">
            <li class="tab col s3"><a href="#activated-tasks">Activated tasks</a></li>
            <li class="tab col s3 disabled"><a href="#tasks-lists">Tasks list</a></li>
            <li class="tab col s3"><a href="#add-task">Add task</a></li>
            <li class="tab col s3 disabled"><a href="#logs">Logs</a></li>
        </ul>
        <div id="activated-tasks">
            <div class="white">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Command</th>
                            <th>Last activate</th>
                            <th>Command result</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in activatedTasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.command }}</td>
                                <td>{{ task.lastExecution ? task.lastExecution|date('Y-m-d H:i:s T') : '' }}</td>
                                {% if task.lastReturnCode == 0 %}
                                    <td>Success</td>
                                {% elseif task.lastReturnCode == true %}
                                    <td>Failed</td>
                                {% else %}
                                    <td>No result</td>
                                {% endif %}
                                <td>
                                    <a href="{{ path('app_crontasks_delete', {'id':task.id}) }}" class="btn makapi-button small red">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <td colspan="5">
                                <h2>No tasks founded</h2>
                                <p>
                                    Go to add your first task or activate one task.
                                </p>
                            </td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="tasks-lists">tasks-lists</div>
        <div id="add-task">
            <div id="makapi-task-form" class="white" style="
                padding: 15px;
            ">
                <div style="
                    width: 70%;
                    margin: auto;
                ">
                    {{ render(controller(
                        'App\\Controller\\Back\\CronTasksController::add'
                    )) }}
                </div>
            </div>
        </div>
        <div id="logs">Log</div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let el = document.querySelectorAll('.tabs');
        let instance = M.Tabs.init(el);
    </script>
{% endblock %}