<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan|Major+Mono+Display" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
    <script type="text/javascript" src="{{ asset('build/vendor.js') }}"></script>

    {% block head_javascripts %}{% endblock %}
</head>
<body>
{{ encore_entry_script_tags('app') }}
{% block body %}
    <header class="linear-header">
        {% include 'components/header/header.html.twig' %}
    </header>
    <main class="linear-submain container">
        {% if isDeleted == true %}
            <script>
                M.toast({html: 'You have deleted your account not long ago, you just need to check your email for recover your account.'})
            </script>
        {% endif %}
        {% if isSend == true %}
        <script>
            M.toast({html: 'Email has  been sent ! Don\'t forget to check your spam !'});
        </script>
        {% endif %}
        <section class="form-registration row col l12 m12 s12">
            <div class="content-registration col offset-s3 s6">
                <div class="center-block">
                    {% if isVerified == true %}
                        <div class="validate-registration">
                            <div class="row">
                                <div class="col s12">
                                    <h2 class="center-align">Congratulation !</h2>
                                    <p class="makapi-text center">
                                        Your email is verified. You can now sign in to your profile.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <button  class="send-email btn waves-effect waves-light makapi-button corail small" type="submit" name="action">
                                        <a href="{{ path('app_security_login')}}">Go sign in</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% elseif isNotVerified is defined and isNotVerified == true %}
                        <div class="validate-registration container">
                            <div class="row">
                                <div class="col s12">
                                    <h2 class="center-align">Oops ! </h2>
                                    <p class="makapi-text center bold">Your mail hasn't been verified.</p>
                                    <p class="makapi-text center">Check your email box to activate your account.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <button  class="send-email btn waves-effect waves-light makapi-button corail small" type="submit" name="action">
                                        <a href="{{ path('send_confirmation_email', {'email': login }) }}">No mail received ? Click here</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="validate-registration container">
                            <div class="row">
                                <div class="col s12">
                                    <h2 class="center-align">Success ! </h2>
                                    <p class="makapi-text center">Check your email box to activate your account.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <button  class="send-email btn waves-effect waves-light makapi-button corail small" type="submit" name="action">
                                        <a href="{{ path('send_confirmation_email', {'email': login }) }}">No mail received ? Click here</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
    <footer class="homepage-footer page-footer">
        {% include 'components/footer/homepage_footer.html.twig' %}
    </footer>
{% endblock %}
</body>
</html>

