{% extends 'back/admin_base.html.twig' %}
{% block title %}
    Admin - Administration Panel
{% endblock %}

{% block content_main %}
<div class="panel-container-bloc">
    <div class="header">
        <h4>News manager</h4>
    </div>
    <div class="main panel-container-dashboard-users">
        <table class="table">
            <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Id</th>
                {% endif %}
                <th>Title</th>
                <th>Body</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>IsPublished</th>
                {% endif %}
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for news in news %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ news.id }}</td>
                    {% endif %}
                    <td>{{ news.title }}</td>
                    <td>{{ news.body }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ news.isPublished ? 'Yes' : 'No' }}</td>
                    {% endif %}
                    <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ news.updatedAt ? news.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_admin_news_show', {'id': news.id}) }}">show</a>
                        {% else %}
                            <a href="{{ path('app_news_show', {'id': news.id}) }}">show</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_admin_news_edit', {'id': news.id}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_admin_news_new') }}">Create new</a>
    {% endif %}
</div>
{% endblock %}
