{% extends 'pagelayout.html.twig' %}

{% block title %}Mak'API - Profile{% endblock %}

{% block body %}
    <header class="gradient-header">
        {% include 'components/header/header.html.twig' %}
    </header>
    <main>
        <section class="part-profile white-text">
            <div class="profile-content valign-wrapper">
                <div class="profile-content_center_div center-block">
                    <div class="row">
                        <img class="profile-picture" src="{{ asset('images/png/Moi2_190118.png') }}" alt="Profile_picture">
                    </div>
                    <div class="row center">
                        <h4>{{ user.firstname }}</h4>
                        <p> {{ user.email }}</p>
                    </div>
                    <div class="row info-API">
                        <span>API created : </span>
                        <span class="offset-l1 offset-s1 offset-m1">Request traited : </span>
                    </div>
                    <div class="profile-setting center">
                        <a class="btn-flat white-text" href="{{ path('app_user_edit', {'login': user.login}) }}">
                            <i class="material-icons medium left">settings</i>
                            Settings
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="part-control-action row col l12">
            <div class="btn-control-action col l2 m2 s2 offset-l3 offset-m3 offset-s3">
                <a class="btn">
                    <i class="material-icons medium">add</i>
                    Create new API
                </a>
            </div>
            <div class="btn-control-action">
                <a class="btn">
                    <i class="material-icons large">bar_chart</i>
                    See statistics
                </a>
            </div>
            <div class="btn-control-action">
                <a class="btn" href="{{ path('app_user_confirmdelete', {'id': user.id}) }}">
                    <i class="material-icons large">sentiment_very_dissatisfied</i>
                    Delete my profile
                </a>
            </div>
        </section>
        <section class="part-table-action-API row">
            <div class="col l12 m12 s12 ">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            My API
                        </div>
                        <div class="collapsible-body">
                            <div class="makapi-table">
                                <table class="centered responsive-table">
                                    <thead class="">
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Created at</th>
                                    <th>Action</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>API 1</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>12-12-12</td>
                                        <td class="table-btn-action">
                                            <a href="#"><i class="material-icons small ">cloud_download</i></a>
                                            <a href="#"><i class="material-icons small">bar_chart</i></a>
                                            <a href="#"><i class="material-icons small">create</i></a>
                                            <a href="#"><i class="material-icons small">delete_forever</i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </section>
    </main>

{% endblock %}
{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);
        });
    </script>
{% endblock %}