{% extends 'pagelayout.html.twig' %}

{% block title %}Mak'API - Profile{% endblock %}

{% block body %}
    {% include 'components/header/homepage_header.html.twig' %}
    <main>
        <section class="part-profile white-text">
            <div class="profile-content valign-wrapper">
                <div class="profile-content_center_div center-block">
                    <div class="row">
                        <img class="profile-picture" src="{{ asset('images/png/Moi2_190118.png') }}" alt="Profile_picture">
                    </div>
                    <div class="row center">
                        <h4>{{ user.firstname }}</h4>
                        <p> {{ user.email }}</p>
                    </div>
                    <div class="row info-API">
                        <span>API created : </span>
                        <span class="offset-l1 offset-s1 offset-m1">Request traited : </span>
                    </div>
                    <div class="profile-setting center">
                        <a class="btn-flat white-text">
                            <i class="material-icons medium left">settings</i>
                            Settings
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="part-control-action row col l12">
            <div class="btn-control-action col l2 m2 s2 offset-l3 offset-m3 offset-s3">
                <a class="btn">
                    <i class="material-icons medium">add</i>
                    Create new API
                </a>
            </div>
            <div class="btn-control-action">
                <a class="btn">
                    <i class="material-icons medium">bar_chart</i>
                    See statistics
                </a>
            </div>
        </section>
        <section class="table-action-API row">
            <div class="col l10 m10 s10 offset-l1 offset-m1 offset-s1">
                <table class="striped centered responsive-table">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Created at </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Action</th>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>


        <!--<a href="{{ path('app_user_index') }}">back to list</a>

        <a class="btn" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

        {{ include('user/_delete_form.html.twig') }}-->
    </main>

{% endblock %}
